/* BorderButton Custom CSS */
.progressBtn {
  width: 120px !important;
}

.progressBtn:active {
  opacity: 0.5;
}

.progressBtn.type0 {
  border: none;
  background-color: rgb(255, 206, 84);
  color: rgb(80, 80, 80);
  opacity: 0.8;
}

.progressBtn.type0:hover {
  background-color: rgb(255, 206, 84);
  color: rgb(80, 80, 80);
  opacity: 1;
}

.progressBtn.type1 {
  border: none;
  background-color: rgb(126, 197, 237);
  color: rgb(80, 80, 80);
  opacity: 0.8;
}

.progressBtn.type1:hover {
  background-color: rgb(126, 197, 237);
  color: rgb(80, 80, 80);
  opacity: 1;
}

.progressBtn.type2 {
  border: none;
  background-color: rgb(237, 85, 101);
  color: white;
  opacity: 0.8;
}

.progressBtn.type2:hover {
  background-color: rgb(237, 85, 101);
  color: white;
  opacity: 1;
}

.progressBtn.type3 {
  border: none;
  background-color: rgb(72, 207, 173);
  color: rgb(80, 80, 80);
  opacity: 0.8;
}

.progressBtn.type3:hover {
  background-color: rgb(72, 207, 173);
  color: rgb(80, 80, 80);
  opacity: 1;
}

.progressBtn.type4 {
  border: none;
  background-color: rgb(93, 156, 236);
  color: white;
  opacity: 0.8;
}

.progressBtn.type4:hover {
  background-color: rgb(93, 156, 236);
  color: white;
  opacity: 1;
}

.progressBtn.type5 {
  border: none;
  background-color: rgb(236, 135, 192);
  color: rgb(80, 80, 80);
  opacity: 0.8;
}

.progressBtn.type5:hover {
  background-color: rgb(236, 135, 192);
  color: rgb(80, 80, 80);
}

.progressBtn.on {
  box-shadow: 0px 0px 3px 8px rgba(46, 229, 157);
}

button._tbBtn.updateBtn {
  border: none;
  width: 120px;
  background-color: rgb(0, 176, 80);
  color: #eee;
  opacity: 0.8;
  margin: 0;
}

button._tbBtn.updateBtn:hover {
  border: none;
  background-color: rgb(0, 176, 80);
  color: #eee;
  opacity: 1;
}

button._tbBtn.updateBtn:active {
  opacity: 0.5;
}

/* Modal Contents CSS */
input[type="button"].addr_searchBtn {
  float: right;
  margin: 0px 10px 7px 0px;
  border: none;
  border-radius: 20px;
  padding: 12px 25px;
  background-color: rgb(0, 176, 80);
  color: white;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  opacity: 0.8;
}

input[type="button"].addr_searchBtn:hover {
  opacity: 1;
}

input[type="button"].addr_searchBtn:active {
  opacity: 0.5;
}

/* Modal BorderBtn CSS */
.BorderButton.insertBtn,
.BorderButton.cancelBtn,
.BorderButton.updateBtn,
.BorderButton.deleteBtn {
  width: 100px;
  border: 1px solid rgb(0, 112, 192);
  background-color: rgb(0, 112, 192);
  color: white;
  margin: 5px 30px;
  transition: 0.3s;
}

.BorderButton.insertBtn:hover,
.BorderButton.cancelBtn:hover,
.BorderButton.updateBtn:hover,
.BorderButton.deleteBtn:hover {
  border: 1px solid rgb(0, 112, 192);
  background-color: white;
  color: rgb(0, 112, 192);
}

/* Progress Modal CSS */

div.pro_title {
  text-align: center;
  padding: 20px;
  font-size: 20px;
  color: rgb(0, 176, 80);
  font-weight: 400;
}

div.pro_list {
  text-align: center;
}

div.needs_area {
  margin-top: 10px;
  border: 2px solid #ddd;
  border-radius: 25px;
}

.needs_area > textarea {
  outline: none;
  width: calc(100% - 40px);
  height: 150px;
  margin: 0;
  resize: none;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  background-color: rgb(250, 250, 250);
}

.needs_area > textarea::placeholder {
  font-size: inherit;
}
