$st_color:#6991e2;
$st_color_h2:#426cc3;
$st_font_color:#fff;
$st_fade_color:#e8ecf6;
$st_fade_font_color:#555;

$txt_ft_color:#555;
$desc_color:#5373b4;
$desc_bt_color:#5373b4;
$select_bg_color:#e8ecf6;
$close_btn_color:#5373b4;

$info_color:#666;
