div.ct_flex {
  display: flex;
  height: calc(100% - 80px);
}

div.ct_flex div.flex_box {
  margin: 20px;
  width: 50%;
  height: calc(100% - 10px);
  border: 1px solid #ddd;
  border-radius: 20px;
  overflow: auto;
}

div.name_title {
  font-size: 25px;
  font-weight: 600;
  border-left: 3px solid black;
  padding-left: 10px;
  margin-top: 10px;
}

div.name_text {
  font-size: 25px;
  font-weight: 300;
  color: #aaa;
  margin: 10px 0;
  padding-left: 13px;
}

div.rows ._rt {
  float: right;
  height: 20px;
  font-size: 14px;
  font-weight: 600;
}

div.customer_info_table > table {
  width: calc(100% - 100px);
  margin: 30px;
  margin-bottom: 15px;
  text-align: left;
  /* 한 줄 효과 */
  /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

table tr.tr_top {
  border-top: 2px solid black;
}

table tr.tr_bottom {
  border-bottom: 1px solid #aaa;
}

table td.td_title {
  width: 25%;
  background-color: rgb(251, 244, 231);
  padding: 10px;
  font-size: 15px;
  font-weight: 300;
}

table td.td_data {
  width: 25%;
  background-color: white;
  padding: 10px;
  font-size: 15px;
}

/* Modal Contents CSS */
input[type="button"].img_upload {
  float: right;
  margin: 0px 10px 7px 0px;
  border: none;
  border-radius: 20px;
  padding: 12px 25px;
  background-color: rgb(0, 176, 80);
  color: white;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  opacity: 0.8;
}

input[type="button"].img_upload:hover {
  opacity: 1;
}

input[type="button"].img_upload:active {
  opacity: 0.5;
}

div.img_list {
  display: inherit;
  width: 210px;
  min-height: 17px;
  border: 1px solid #aaa;
  border-radius: 20px;
  padding: 10px;
  margin: 0px 10px;
  font-size: 13px;
  font-weight: 300;
}

div.img_list.on {
  border-color: rgb(59, 59, 59);
}

div.img_list span {
  width: 195px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.removeBtn {
  font-family: "Ionicons";
  display: inline-block;
  cursor: pointer;
}

div.removeBtn::before {
  content: "\f128";
}

/* BorderButton Custom CSS */
.progress {
  width: 80px !important;
  cursor: default;
}

.progress.type0 {
  border: none;
  background-color: rgb(255, 206, 84);
  color: rgb(80, 80, 80);
  opacity: 1;
}

.progress.type0:hover {
  background-color: rgb(255, 206, 84);
  color: rgb(80, 80, 80);
  opacity: 1;
}

.progress.type1 {
  border: none;
  background-color: rgb(126, 197, 237);
  color: rgb(80, 80, 80);
  opacity: 1;
}

.progress.type1:hover {
  background-color: rgb(126, 197, 237);
  color: rgb(80, 80, 80);
  opacity: 1;
}

.progress.type2 {
  border: none;
  background-color: rgb(237, 85, 101);
  color: white;
  opacity: 1;
}

.progress.type2:hover {
  background-color: rgb(237, 85, 101);
  color: white;
  opacity: 1;
}

.progress.type3 {
  border: none;
  background-color: rgb(72, 207, 173);
  color: rgb(80, 80, 80);
  opacity: 1;
}

.progress.type3:hover {
  background-color: rgb(72, 207, 173);
  color: rgb(80, 80, 80);
  opacity: 1;
}

.progress.type4 {
  border: none;
  background-color: rgb(93, 156, 236);
  color: white;
  opacity: 1;
}

.progress.type4:hover {
  background-color: rgb(93, 156, 236);
  color: white;
  opacity: 1;
}

.progress.type5 {
  border: none;
  background-color: rgb(236, 135, 192);
  color: rgb(80, 80, 80);
  opacity: 1;
}

.progress.type5:hover {
  background-color: rgb(236, 135, 192);
  color: rgb(80, 80, 80);
}

ul.img_list, ol.img_list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    max-width: 250px;
    width: 100%;
}

ul.img_list li, ol.img_list li {
    padding: 5px 0px 5px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #efefef;
    font-size: 12px;
}

ul.img_list li:before,
ol.img_list li:before {
    content: ">";
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px 6px 0px;
}