div.ct_flex {
    display: flex;
    height: calc(100% - 80px);
}

div.ct_flex div.flex_box {
    margin: 20px;
    width: 50%;
    height: calc(100% - 10px);
    border: 1px solid #ddd;
    border-radius: 20px;
    overflow: auto;
}

div.name_title {
    font-size: 25px;
    font-weight: 600;
    border-left: 3px solid black;
    padding-left: 10px;
    margin-top: 10px;
}

div.name_text {
    font-size: 25px;
    font-weight: 300;
    color: #aaa;
    margin: 10px 0;
    padding-left: 13px;
}

div.rows ._rt {
    float: right;
    height: 20px;
    font-size: 14px;
    font-weight: 600;
}

div.customer_info_table > table {
    width: calc(100% - 100px);
    margin: 30px;
    margin-bottom: 15px;
    text-align: left;
    /* 한 줄 효과 */
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

table tr.tr_top {
    border-top: 2px solid black;
}

table tr.tr_bottom {
    border-bottom: 1px solid #aaa;
}

table td.td_title {
    width: 25%;
    background-color: rgb(251, 244, 231);
    padding: 10px;
    font-size: 15px;
    font-weight: 300;
}

table td.td_data {
    width: 25%;
    background-color: white;
    padding: 10px;
    font-size: 15px;
}


/* Modal Contents CSS */
div.customer_row_title {
    float: left;
    width: 70px;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 5px;
    margin: 5px 0;
    border-right: 3px solid black;
}

div.customer_row_input {
    position: relative;
    display: inline-block;
}

div.customer_row_input select {
    width: 120px;
    height: 36px;
    margin: 2px 10px;
    border-radius: 20px;
    padding: 5px 10px;
}

div.customer_row_input input[type=text] {
    border: 1px solid #aaa;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0px 10px;
    font-size: 15px;
    color: rgb(80, 80, 80);
    outline: none;
    transition: 0.3s;
}

div.customer_row_input input[type=text]:focus {
    border-color: rgb(59, 59, 59);
}

div.customer_row_input input[type=text]::placeholder {
    font-size: 15px;
    font-weight: 400;
}

input[type=button].addr_searchBtn {
    float: right;
    margin: 0px 10px 7px 0px;
    border: none;
    border-radius: 20px;
    padding: 12px 25px;
    background-color: rgb(0, 176, 80);
    color: white;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    opacity: 0.8;
}

input[type=button].addr_searchBtn:hover {
    opacity: 1;
}

input[type=button].addr_searchBtn:active {
    opacity: 0.5;
}

/* Modal BorderBtn CSS */
.BorderButton.insertBtn,
.BorderButton.cancelBtn,
.BorderButton.updateBtn,
.BorderButton.deleteBtn {
    width: 100px;
    border: 1px solid rgb(0, 112, 192);
    background-color: rgb(0, 112, 192);
    color: white;
    margin: 5px 30px;
    transition: 0.3s;
}

.BorderButton.insertBtn:hover,
.BorderButton.cancelBtn:hover,
.BorderButton.updateBtn:hover,
.BorderButton.deleteBtn:hover {
    border: 1px solid rgb(0, 112, 192);
    background-color: white;
    color: rgb(0, 112, 192);
}