.mypage-body {
  display: flex;
  min-height: 100%;
  /* font-family: Arial, Helvetica Neue, Helvetica, sans-serif; */
  font-family: nsr !important;
  font-size: 14px;
  width: fit-content;
  margin: auto;
}

.app-sidebar {
  width: 300px;
  line-height: 1.5;
  background: #eaf9ff;
  border-right: 1px solid #d3e2e8;
  border-radius: 20px;
  margin: 50px 10px;
}

.app-sidebar-section {
  padding: 2em;
}

.app-sidebar-section h2.h2_date {
  font-size: 24px;
  font-weight: 600;
}

.app-sidebar-section h2.h2_day {
  font-size: 20px;
  font-weight: 400;
  color: #aaa;
}

.calendar-wrapper {
  flex-grow: 1;
  padding: 3em;
  min-width: 1000px;
}

.fc {
  /* the calendar root */
  max-width: 1100px;
  margin: 0 auto;
}

.fc-day-sun > div,
.fc-day-sat > div {
  background-color: rgb(250, 250, 250);
}

.fc-daygrid-day-events > div.fc-daygrid-event-harness:nth-child(2n) > a {
  /* background-color: #d3e2e8; */
}

div.app-sidebar-section h2.am_list + ul {
  margin-bottom: 20px;
}

div.app-sidebar-section h2.am_list,
div.app-sidebar-section h2.pm_list {
  color: #426cc3;
  font-weight: 600;
  font-size: 15px;
  border-left: 2px solid;
  padding-left: 5px;
  line-height: 15px;
}

div.app-sidebar-section ul {
  padding: 5px 10px;
}

div.app-sidebar-section ul li{
  border-bottom: 1px solid #aaa;
  height: 19px;
  font-size: 12px;
  width: fit-content;
  margin: 5px 0;
}

div.app-sidebar-section ul li.comp {
  opacity: 0.3;
  text-decoration: line-through;
}

div.app-sidebar-section ul li b {
  padding-right: 10px;
}

div.app-sidebar-section ul li i {
  padding-right: 10px;
}

div.app-sidebar-section ul li i.i_title {
  width: 100px;
}

/* BorderButton Custom CSS */
.mt {
  width: 80px !important;
  font-size: 10px;
  height: 15px !important;
  margin-left: 10px;
  cursor: default !important;
}

.mt:active {
  opacity: 0.8;
}

.mt.type1 {
  border: none;
  background-color: rgb(255, 206, 84);
  color: rgb(80, 80, 80);
  opacity: 0.8;
}

.mt.type1:hover {
  background-color: rgb(255, 206, 84);
  color: rgb(80, 80, 80);
  opacity: 0.8;
}

.mt.type2 {
  border: none;
  background-color: rgb(126, 197, 237);
  color: rgb(80, 80, 80);
  opacity: 0.8;
}

.mt.type2:hover {
  background-color: rgb(126, 197, 237);
  color: rgb(80, 80, 80);
  opacity: 0.8;
}

.mt.type3 {
  border: none;
  background-color: rgb(237, 85, 101);
  color: white;
  opacity: 0.8;
}

.mt.type3:hover {
  background-color: rgb(237, 85, 101);
  color: white;
  opacity: 0.8;
}

.mt.type4 {
  border: none;
  background-color: rgb(72, 207, 173);
  color: rgb(80, 80, 80);
  opacity: 0.8;
}

.mt.type4:hover {
  background-color: rgb(72, 207, 173);
  color: rgb(80, 80, 80);
  opacity: 0.8;
}

.mt.type5 {
  border: none;
  background-color: rgb(93, 156, 236);
  color: white;
  opacity: 0.8;
}

.mt.type5:hover {
  background-color: rgb(93, 156, 236);
  color: white;
  opacity: 0.8;
}

.mt.type6 {
  border: none;
  background-color: rgb(236, 135, 192);
  color: rgb(80, 80, 80);
  opacity: 0.8;
}

.mt.type6:hover {
  background-color: rgb(236, 135, 192);
  color: rgb(80, 80, 80);
  opacity: 0.8;
}