/* DatePicker CSS */

div.range_picker_wrapper {
  display: flex;
}

div.react-datepicker__input-container input {
  font-size: 13px !important;
  border-radius: 4px;
  box-shadow: inset 0 2px 2px #e9e9e9;
  border: 1px solid #aeaeae;
  line-height: 16px;
  padding: 6px 10px 5px;
}

div.start_date,
div.end_date,
div.select_date {
  width: fit-content;
  margin: auto;
}

div.picker_title {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  /* padding: 3px; */
  padding: 7px 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 5px 5px 0 0;
  background-color: rgba(93, 156, 236, 0.4);
  /* background-color: #aeaeae; */
}

div.react-datepicker__year-read-view,
div.react-datepicker__month-read-view,
div.react-datepicker__month-year-read-view {
  border: 1px solid transparent;
  border-radius: 0.3rem;
  padding: 5px;
}

.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow {
  top: 4px !important;
}

.react-datepicker__close-icon::after {
  padding: 0px !important;
}

.react-datepicker-time__input input {
  font-size: 11px;
  font-weight: 400;
  width: 100px !important;
}

div.react-datepicker__input-container input {
  border-radius: 0 0 4px 4px !important;
  /* border: 1px solid rgba(93, 156, 236, .4) !important; */
}
