div.v-top {
    background-color: #fff;
    position: fixed;
    width: calc(100% - 0px);
    height: 60px;
    border-bottom: 1px solid darkgray;
    /*box-shadow: 0px 1px 5px -2px rgba(0,0,0,0.1);*/
    z-index: 10;
    /*border-bottom: 1px solid #e7e7e7;*/
}
div.t_left {
    float: left;
    height: 100%;
    position: relative;
}
div.t_right {
    float: right;
    height: 100%;
    vertical-align: sub;
    position: relative;
}
.t_left .logo {
    float: left;
    /* width: 27px;
    border: 0px solid #444; */
    margin-top: 3px;
    margin-left: 5px;
    height: 24px;
}
.t_left .title {
    float: left;
    font-weight: 600;
    /*font-weight: bold;*/
    font-size: medium;
    padding-left: 15px;
    color: #666;
    line-height: 50px;
}

div.search_field {
    position: relative;
    float: left;
    width: 400px;
    height: 50px;
    margin: auto;
    margin-right: 50px;
}

div.search_field input.search {
    padding: 0 20px;
    margin: 14px;
    width: 350px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
    color: rgb(59, 59, 59);
    outline: none;
    transition: 0.3s;
}

div.search_field input.search:focus {
    border-color: rgb(59, 59, 59);
}

div.search_field input.search::placeholder {
    font-size: 15px;
}

div.search_field button.search_btn {
    font-family: "Ionicons";
    position: absolute;
    top: 13px;
    right: 0px;
    text-align: center;
    font-size: 30px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: rgb(120, 120, 120);
    transition: 0.2s;
}

div.search_field button.search_btn:hover {
    color: rgb(59, 59, 59);
}

div.search_field button.search_btn:before {
    content: "\f2f5";
}


div.pro_icon {
    width: 25px;
    height: 25px;
    float: left;
    opacity: 0.8;
    fill: rgb(229,181,31);
}

div.pro_icon > svg{
    vertical-align: middle;
}

.t_right .pro_icon {
    float: left;
    margin: 18px 3px;
    font-size: 25px;
    color: rgb(229,181,31);
}
.t_right .pro_id {
    width: 128px;
    padding-right: 15px;
    height: 60px;
    line-height: 60px;
    float: right;
    font-weight: 300;
    font-size: 16px;
    color: #bbb;
}
.t_right div.profile {
    float: right;
    // padding-bottom: 50px;
}
.pro_view {
    position: absolute;
    display: inline-block;
    width: 120px;
    top: 50px;
    right: 40px;
    z-index: 20;
    cursor: pointer;
}
.pro_view > div {
    margin-top : -1px;
    font-size: 0.8em;
    text-align: center;
    border: 1px solid #ccc;
    padding:10px;
    background-color: white;
    transition: 0.1s all;
}
/*.pro_view > div:hover {*/
/*    background-color: rgb(240, 240, 240);*/
/*}*/

